<p>book works!</p>

<div>
  <form>
    Enter Title: <input type="text" name="title" [(ngModel)]="book.title" />
    <br />
    Enter Author:<input type="text" name="author" [(ngModel)]="book.author" />
    <br />
    <input type="text" name="id" [(ngModel)]="book.id" [hidden]="true" />
    <button class="btn btn-default" (click)="addBook()">Add Book</button>
  </form>
</div>

<div>
  <table class="table table-striped table-bordered">
    <tr style="background: lightblue;">
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>
        <button (click)="getBookByid(book.id)" class="btn btn-default">Update</button> |
        <button (click)="deleteBook(book.id)" class="btn btn-default">Delete</button>
      </td>
    </tr>
  </table>
</div>
